/* ===== SECTION À PROPOS ===== */
.about {
  padding: 100px 40px;
  background-color: #f9f9f9;
  color: #111;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: -0.5px;
}

.about p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .about {
    padding: 60px 20px;
     padding-top: 100px !important;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 0.95rem;
    line-height: 1.7;
  }
}
