.auth-container {
    max-width: 400px;
    margin: 80px auto;
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    color: #1b7f79;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .auth-container button {
    background-color: #1b7f79;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .auth-container button:hover {
    background-color: #14665f;
  }
  
  .message {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
  }
  

  .redirect-login {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: #1b7f79;
  }
  
  .redirect-login a {
    color: #1b7f79;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    border: 1px solid #1b7f79;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .redirect-login a:hover {
    background-color: #1b7f79;
    color: white;
  }
  